## Task 1

In [2]:
import pandas as pd
import numpy as np

In [3]:
#creating a dictionary
dict1 = {"Name":["John","Henry","Ben","Bruno","Jan","Emily","Tracy","Kenny","Kevin","Ruben"],
         "Age":[24,26,32,33,31,35,37,28,29,38],
         "EmpID":["1461","1074","1920","1638","1036","1825","1523","1250","1219","1296"],
         "Experience":[np.nan,2,8,9,7,11,13,4,5,14],
         "Gender":["M","M","M","M","F","F","F","M","M","M"]}

dict1

{'Name': ['John',
  'Henry',
  'Ben',
  'Bruno',
  'Jan',
  'Emily',
  'Tracy',
  'Kenny',
  'Kevin',
  'Ruben'],
 'Age': [24, 26, 32, 33, 31, 35, 37, 28, 29, 38],
 'EmpID': ['1461',
  '1074',
  '1920',
  '1638',
  '1036',
  '1825',
  '1523',
  '1250',
  '1219',
  '1296'],
 'Experience': [nan, 2, 8, 9, 7, 11, 13, 4, 5, 14],
 'Gender': ['M', 'M', 'M', 'M', 'F', 'F', 'F', 'M', 'M', 'M']}

In [4]:
#creating the dataframe
df = pd.DataFrame(dict1)
df

    Name  Age EmpID  Experience Gender
0   John   24  1461         NaN      M
1  Henry   26  1074         2.0      M
2    Ben   32  1920         8.0      M
3  Bruno   33  1638         9.0      M
4    Jan   31  1036         7.0      F
5  Emily   35  1825        11.0      F
6  Tracy   37  1523        13.0      F
7  Kenny   28  1250         4.0      M
8  Kevin   29  1219         5.0      M
9  Ruben   38  1296        14.0      M

## Task 2

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        10 non-null     object
 1   Age         10 non-null     int64
 2   EmpID       10 non-null     object
 3   Experience  9 non-null      float64
 4   Gender      10 non-null     object
dtypes: float64(1), int64(1), object(3)
memory usage: 528.0+ bytes

## Task 3

In [6]:
df.describe()

             Age  Experience
count  10.000000    9.000000
mean   31.300000    8.111111
std     4.620005    4.075673
min    24.000000    2.000000
25%    28.250000    5.000000
50%    31.500000    8.000000
75%    34.500000   11.000000
max    38.000000   14.000000

## Task 4

In [7]:
df.loc[4]

Name           Jan
Age             31
EmpID         1036
Experience     7.0
Gender           F
Name: 4, dtype: object

## Task 5

In [8]:
df.isnull().any()

Name          False
Age           False
EmpID         False
Experience     True
Gender        False
dtype: bool

In [9]:
df.isnull().sum()

Name          0
Age           0
EmpID         0
Experience    1
Gender        0
dtype: int64